.socicon:empty { width: 1em; }
.socicon-rss { background-color: #f26109; color: #f26109; }
.socicon-twitter { background-color: #55acee; color: #55acee; }
.socicon-facebook { background-color: #3b5998; color: #3b5998; }
.socicon-google { background-color: #d93e2d; color: #d93e2d; }
.socicon-pinterest { background-color: #c92619; color: #c92619; }
.socicon-slideshare { background-color: #4ba3a6; color: #4ba3a6; }
.socicon-skype { background-color: #28abe3; color: #28abe3; }
.socicon-youtube { background-color: #e02a20; color: #e02a20; }
.socicon-yahoo { background-color: #6E2A85; color: #6E2A85; }
.socicon-linkedin { background-color: #3371b7; color: #3371b7; }



.zoom-social-icons-list { list-style-type: none; }

.zoom-social_icons-list__item { margin: 0 0 10px; }
.zoom-social_icons-list__label { margin-left: 4px; }
.zoom-social-icons-list--no-labels .zoom-social_icons-list__item { display: inline-block; margin: 4px; }
.zoom-social-icons-list .socicon { padding: 8px; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; -moz-transition: opacity .2s; -webkit-transition: opacity .2s; transition: opacity .2s; }
.zoom-social_icons-list__item a:hover .socicon { opacity: 0.8; }

.zoom-social-icons-list--with-canvas .socicon { color: #ffffff; }
    .zoom-social-icons-list--with-canvas .socicon:before { position: relative; top: 1px; }

.zoom-social-icons-list--without-canvas .socicon { background: none; }
/* .widget because we need higher css specificity */
.widget .zoom-social-icons-list--without-canvas { margin-left: -8px; margin-top: -4px; }
.widget .zoom-social-icons-list--no-labels.zoom-social-icons-list--without-canvas { margin-left: -14px; margin-top: -8px; }

.zoom-social-icons-list--rounded .socicon { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.zoom-social-icons-list--round .socicon { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
